@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@100..900&display=swap");

.spartan-bold {
  font-family: "Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.spartan-regular {
  font-family: "Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.antonio-medium {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
:root {
  --bg: #070724;
  --white: #ffffff;
  --gray: #979797;
  --mercury: #419ebb;
  --venus: #eda249;
  --earth: #6d2ed5;
  --mars: #d14c32;
  --jupiter: #d83a34;
  --saturn: #cd5120;
  --uranus: #1ec1a2;
  --neptune: #2d68f0;
  --mercury-size: 6.9375rem;
  --mercury-size: 11.5rem;
  --venus-size: 9.625rem;
  --venus-size: 15.8125rem;
  --earth-size: 10.8125rem;
  --earth-size: 17.8125rem;
  --mars-size: 8.0625rem;
  --mars-size: 13.3125rem;
  --jupiter-size: 14rem;
  --jupiter-size: 23.0625rem;
  --saturn-size: 16rem;
  --saturn-size: 26.375rem;
  --uranus-size: 11rem;
  --uranus-size: 18.125rem;
  --neptune-size: 10.8125rem;
  --neptune-size: 17.8125rem;

  --planet-color: var(--mercury);
  --planet-size: var(--mercury-size);
  /* --planet-img: var() */
}
a,
button {
  color: var(--gray);
  text-decoration: none;
  text-transform: uppercase;

  /* Mobile */
  font-size: 0.5625rem;
  letter-spacing: 0.120625rem;
  line-height: 1.11;

  &:has(:active, :visited) {
    color: inherit;
    text-decoration: none;
  }
}

body {
  background: url(../assets/background-stars.svg), var(--bg);

  background-position: right;
  background-size: cover;
  color: var(--white);
}
header {
  /* position: sticky; */
  top: 0rem;
  /* background-color: var(--bg);
   */
  display: flex;
  /* Mobile */
  padding-inline: 1.5rem;
  padding-block: 1rem;
  justify-content: space-between;
  /* Tablet */
  padding-block: 2rem 1.6875rem;
  padding-inline: 3.1875rem;
}
#content {
  display: grid;
  grid-template-areas:
    "img img"
    "content-info content-info"
    "rot rot"
    "rev rev"
    "rad rad"
    "temp temp";

  /* Mobile */
  padding-inline: 1.5rem;
  /* TAblet */
  padding-inline: 2.4375rem 2.5rem;
}
.content-info {
  grid-area: content-info;

  display: flex;
  flex-direction: column;
  text-align: center;
  & h1 {
    /* Mobile */
    font-size: 2.5rem;
    padding-block-end: 1rem;
    /* Tablet */
    font-size: 3rem;
    padding-block-end: 1.5rem;
  }

  & p {
    font-size: 0.6875rem;
    line-height: 2;
  }

  #source {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Mobile */
    padding-block: 2rem 1.75rem;
    font-size: 0.75rem;
    line-height: 2.083;

    & a {
      display: flex;
      gap: 0.25rem;
      text-transform: none;
      text-decoration: underline;
    }
  }
}
#desktop-tabs,
#desktop-nav {
  display: none;
}
#hamburger-btn {
  &:hover {
    cursor: pointer;
  }

  &:has(+ #mobile-menu:popover-open) > svg > g {
    fill: var(--gray);
  }
}

#mobile-menu:popover-open {
  border: 0;
  position: fixed;

  background-color: var(--bg);
  top: 5rem;
  bottom: 0rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  height: 100svh;
  list-style: none;

  padding-inline: 1.5rem;
  padding-block-start: 2.75rem3;

  & li {
    display: flex;
    align-items: center;

    border-bottom: 0.0625rem solid var(--gray);
    gap: 1.5625rem;
    padding-block: 1.25rem;
    & button {
      line-height: 1.66;
      letter-spacing: 0.085rem;
      font-size: 0.9375rem;
      color: var(--white);
    }

    & img {
      margin-inline-start: auto;
    }
    & div {
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
    }

    &:first-child > div {
      background-color: var(--mercury);
    }
    &:nth-child(2) > div {
      background-color: var(--venus);
    }
    &:nth-child(3) > div {
      background-color: var(--earth);
    }
    &:nth-child(4) > div {
      background-color: var(--mars);
    }
    &:nth-child(5) > div {
      background-color: var(--jupiter);
    }
    &:nth-child(6) > div {
      background-color: var(--saturn);
    }
    &:nth-child(7) > div {
      background-color: var(--uranus);
    }
    &:nth-child(8) {
      border: 0;
      > div {
        background-color: var(--neptune);
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
#mobile-tabs {
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  display: flex;
  justify-content: space-between;
  /* Mobile */
  padding-inline: 1.5rem;

  & button {
    padding-block: 1.25rem 1.0625rem;
    border-bottom: 0.25rem solid transparent;
    &.current-tab {
      border-bottom: 0.25rem solid var(--planet-color);
      color: var(--white);
    }

    &:hover {
      cursor: pointer;
    }
  }
}
.logo {
  font-size: 1.75rem;
  letter-spacing: -0.065625rem;
}
.para {
  display: none;
}
.current-info {
  display: block;
}
#planet {
  /* Mobile */
  width: var(--planet-size);
}

#planet-con {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img;
  /* Mobile */
  height: 19rem;
  /* TAblet */
  height: 28.75rem;
}

#rot-con {
  grid-area: rot;
}
#rev-con {
  grid-area: rev;
}
#rad-con {
  grid-area: rad;
}
#temp-con {
  grid-area: temp;
}
#rot-con,
#rev-con,
#rad-con,
#temp-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  /* Mobile */
  padding-inline: 1.5rem;
  padding-block: 0.5625rem 0.8125rem;
  margin-block-end: 0.5rem;
  border: 1px solid #d8d8d8;

  & p:first-child {
    font-size: 0.5rem;
    line-height: 2;
    letter-spacing: 0.045625rem;
  }

  & p:nth-child(2) {
    font-size: 1.25rem;
    letter-spacing: -0.046875rem;
  }
}
@media (min-width: 48rem) {
  header {
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--gray);
    /* tablet */
    gap: 2.4375rem;
  }

  #content {
    grid-template-areas:
      "img img img img"
      "content-info content-info tabs tabs"
      "rot rev rad temp";
  }
  .content-info {
    text-align: left;
    align-items: flex-start;

    #source {
      justify-content: flex-start;
    }
    & p {
      width: 38ch;
    }
  }
  #hamburger-btn {
    display: none;
  }

  #desktop-nav {
    display: flex;
    flex-direction: column;

    grid-area: tabs;
    & > #desktop-menu {
      display: flex;

      /* flex-wrap: wrap; */
      list-style: none;
      /* Tablet */
      font-size: 0.6875rem;
      letter-spacing: 0.0625rem;
      gap: 2.0625rem;
      line-height: 2.27;

      & button {
        color: var(--white);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  #desktop-tabs {
    grid-area: tabs;
    display: flex;
    flex-direction: column;

    justify-content: center;

    & button {
      display: flex;
      gap: 1.0625rem;
      border: 0.0625rem solid var(--gray);
      padding-block: 0.5rem 0.4375rem;
      padding-inline: 1.25rem;
      line-height: 2.77;
      letter-spacing: 0.120625rem;
      color: var(--white);

      margin-block-end: 1rem;

      &:hover {
        cursor: pointer;
      }
      & span {
        color: var(--gray);
      }
    }
  }

  #mobile-tabs {
    display: none;
  }

  #rot-con,
  #rev-con,
  #rad-con,
  #temp-con {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    & p:first-child {
      font-size: 0.5rem;
      line-height: 2;
      letter-spacing: 0.045625rem;
    }

    & p:nth-child(2) {
      font-size: 1.25rem;
      letter-spacing: -0.046875rem;
    }
  }
}
