@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@100..900&display=swap");

.spartan-bold {
  font-family: "Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.spartan-regular {
  font-family: "Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.antonio-medium {
  font-family: "Antonio", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
:root {
  --bg: #070724;
  --white: #ffffff;
  --gray: #979797;
  --mercury: #419ebb;
  --venus: #eda249;
  --earth: #6d2ed5;
  --mars: #d14c32;
  --jupiter: #d83a34;
  --saturn: #cd5120;
  --uranus: #1ec1a2;
  --neptune: #2d68f0;
}
a {
  color: var(--gray);
  text-decoration: none;
  text-transform: uppercase;

  /* Mobile */
  font-size: 0.5625rem;
  letter-spacing: 0.120625rem;
  line-height: 1.11;

  &:has(:active, :visited) {
    color: inherit;
    text-decoration: none;
  }
}
body {
  background: url(../assets/background-stars.svg), var(--bg);

  background-position: right;
  background-size: cover;
  color: var(--white);
}
header {
  display: flex;
  /* Mobile */
  padding-inline: 1.5rem;
  padding-block: 1rem;
  justify-content: space-between;
}
#content {
  display: grid;
  grid-template-areas:
    "img img"
    "content-info content-info"
    "rot rot"
    "rev rev"
    "rad rad"
    "temp temp";

  /* Mobile */
  padding-inline: 1.5rem;
}
.content-info {
  grid-area: content-info;

  display: flex;
  flex-direction: column;
  text-align: center;
  & h1 {
    /* Mobile */
    font-size: 2.5rem;
    padding-block-end: 1rem;
  }

  & p {
    font-size: 0.6875rem;
    line-height: 2;
  }

  #source {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Mobile */
    padding-block: 2rem 1.75rem;
    font-size: 0.75rem;
    line-height: 2.083;

    & a {
      display: flex;
      gap: 0.25rem;
      text-transform: none;
      text-decoration: underline;
    }
  }
}
#desktop-tabs {
  display: none;
}
#mobile-tabs {
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  display: flex;
  justify-content: space-between;
  /* Mobile */
  padding-inline: 1.5rem;

  & a {
    padding-block: 1.25rem 1.0625rem;
    &.current-tab {
      border-bottom: 0.25rem solid var(--mercury);
      color: var(--white);
    }
  }
}
.logo {
  font-size: 1.75rem;
  letter-spacing: -0.065625rem;
}
.para {
  display: none;
}
.current-info {
  display: block;
}
#planet {
  /* Mobile */
  width: 6.9375rem;
}

#planet-con {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: img;
  /* Mobile */
  height: 19rem;
}

#rot-con {
  grid-area: rot;
}
#rev-con {
  grid-area: rev;
}
#rad-con {
  grid-area: rad;
}
#temp-con {
  grid-area: temp;
}
#rot-con,
#rev-con,
#rad-con,
#temp-con {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Mobile */
  padding-inline: 1.5rem;
  padding-block: 0.5625rem 0.8125rem;
  margin-block-end: 0.5rem;
  border: 1px solid #d8d8d8;

  & p:first-child {
    font-size: 0.5rem;
    line-height: 2;
    letter-spacing: 0.045625rem;
  }

  & p:nth-child(2) {
    font-size: 1.25rem;
    letter-spacing: -0.046875rem;
  }
}
